/* reset a few global parameters */
:root{
    --width: 2000px;
    
    --bgcolor: #fff; /*app background color*/
    --bgsidecolor: #ddd; /*app background color*/
    --bgelemcolor: #fff; /*background for widgets*/
    --bgtransparency: 0.4;
    --bgbutcolor: rgb(27, 5, 107);
    --bgbutcolorhover: rgb(50, 5, 150);

    --bgpictlandscape: url('BG_LANDSCAPE'); /*replacer inside .py code*/
    --bgpictportrait: url('BG_PORTRAIT');
    --bgpictlogo: url('LOGO_WIDE');

    --bordercolor: #ccc;
    --borderradius: 10px 3px;
    --shadow: 0 1px 4px;

    --fontcolor: #222;
    --fontbutcolor: #eee;
    --fontbutcolorhover: #fff;

    --fontsize: 1.0em;
    --fontsidebutsize: 1.0em;
    --fontbutsize: 1.4em;
    --padding: 5px 10px;
    --spacer: 3rem; /*add <div class='spacediv'></div> anywhere to add this height space in between other contents*/
}
html{
    font-size: var(--fontsize);
}
body{
    color: var(--fontcolor) !important;
}
@media only screen and (max-width: 400px){
    html{font-size: 1.0em;} /*overrides for small screen devices*/
}
footer{display: none;}
h1{padding: 10px !important;}
hr{
    margin: 0.5rem !important;
    border-bottom: 1px solid var(--fontcolor) !important;
}
label, p:not(.alert), h1{
    background-color: var(--bgelemcolor) !important;
    padding: var(--padding);
    border-radius: var(--borderradius) !important;
    border: 1px solid var(--bordercolor);    
    box-shadow: var(--shadow) rgba(0, 0, 0, .6);
}

/* set the overall appearance and background for this app */
.toolbar, .instructions{
    visibility: hidden;
    display: none;
}
.stApp{
    background-color: var(--bgcolor);
    opacity: 0.9;
}
.sidebar .sidebar-content{
    background: var(--bgpictlogo) no-repeat bottom center;
    background-color: var(--bgsidecolor);
    background-size: 70%;
}
@media all and (orientation: portrait) { 
    .stApp:after{
        content:'';
        background: var(--bgpictportrait) no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: var(--bgtransparency);
    }
}
@media all and (orientation: landscape) { 
    .stApp:after{
        content:'';
        background: var(--bgpictlandscape) no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: var(--bgtransparency);
    }
}

/* lets adjust our main containers positioning */
.reportview-container .main .block-container{
    max-width: var(--width);
    padding: 0.8rem;
    width: 100% !important;
    /*border: 2px solid blue;*/
}
div.block-container > div{
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*border: 1px solid red;*/
}
div.element-container{
    display: inline-block !important;
    height: auto !important;
    width: max-content !important;
    font-size: 1.2rem;    
    /*border: 1px solid green;  */  
}
.spacediv{
    min-height: var(--spacer);
}

/* now we can deep in our widgets setup */
div.element-container > div.Widget:not(.stNumberInput):not(.stTimeInput):not(.stDateInput):not(.stTextInput):not(.stTextArea):not(.stSelectbox):not(.stMultiSelect):not(.stSlider):not(.stFileUploader){
    width: max-content !important;
    min-width: 200px;
}
.stFileUploader > div > div{padding: 50px !important;}
.stFileUploader .uploadOverlay{box-shadow: none !important;}

.Widget > label{
    font-size: var(--fontsize);
    color: var(--fontcolor);
}
.Widget:not(.stRadio):not(.stSlider) > div{
    box-shadow: var(--shadow) rgba(0, 0, 0, .6);
}
.alert{
    margin: 100px;
    padding: 0.5rem;
}
span.as{background-color: var(--bgbutcolor) !important;}
.stCheckbox label>span{background-color: var(--bgbutcolor) !important;}
.stRadio label>div:first-child{background-color: var(--bgbutcolor) !important;}

div.dataframe{
    background: var(--bgcolor) !important;
}

.stSlider > div{
    background-color: var(--bgcolor) !important;
    color: var(--fontcolor) !important;
    padding: 20px 10px 10px 20px;
    border-radius: var(--borderradius) !important;
    border: 1px solid var(--bordercolor);   
    box-shadow: var(--shadow) rgba(0, 0, 0, .6);
}
.stSlider>div>div>div>div{background-color: var(--fontcolor) !important;} /*slider pointer*/
.stSlider>div>div:first-child>div:first-child{background: var(--bgbutcolor) !important; height: 3px;} /*slider bar*/
.stSlider>div>div:first-child>div:first-child>div>div{color: var(--bgbutcolor) !important;} /*slider bar*/

.stMultiSelect span>span{background-color: var(--bgbutcolor) !important;}

div.stEmpty{
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
}
div.element-container > div.stEmpty{
    width: 100vh !important;
    display: block !important;
    visibility: hidden;
}

/* here were gonna change our buttons layout to make them more beautifull and intuitive */
button{
    background-color: var(--bgbutcolor) !important;
    color: var(--fontbutcolor) !important;
    border-color: var(--fontbutcolor) !important;
}
button:hover{
    background-color: var(--bgbutcolorhover) !important;
    color: var(--fontbutcolorhover) !important;
    border-color: var(--fontbutcolorhover) !important;
}
button.sidebar-collapse-control{
    opacity: 0.2;
}
button.sidebar-collapse-control:hover{
    opacity: 1;
}
button:not(.sidebar-close):not(.control):not(.sidebar-collapse-control):not(.btn):not(.dropdown-item):not(.overlayBtn):not(.close){
    padding: var(--padding) !important;
    border-radius: var(--borderradius);
    box-shadow: var(--shadow) rgba(0, 0, 0, .6);
    margin: 0rem 0.1rem !important;
}
.sidebar button:not(.sidebar-close):not(.control):not(.sidebar-collapse-control):not(.btn):not(.dropdown-item):not(.overlayBtn):not(.close){
    /*width: 5rem;*/
    font-size: var(--fontsidebutsize);
}
.main button:not(.sidebar-close):not(.control):not(.sidebar-collapse-control):not(.btn):not(.dropdown-item):not(.overlayBtn):not(.close){
    /*width: 2rem;*/
    font-size: var(--fontbutsize);
}